.footer{
    background-color: $color-secondary;
    grid-column: full-start/full-end;
    font-size: 1.7rem;
    overflow: hidden;
    @include phone{
        transform: translateY(43rem);
        width: 100vw;
        overflow: hidden;
    }
    @include phone-2{
        transform: translateY(55.1rem);
        width: 100vw;
        overflow: hidden;
    }
    @include tablet{
        transform: translateY(55.1rem);
        width: 100vw;
        overflow: hidden;
    }

    .nav{

        &__item{
        }

        &__list{
            list-style: none;
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

        }

        &__link{

            &:link,
            &:visited{
                text-decoration: none;
                color: white;
                text-align: center;
                text-transform: uppercase;
                font-weight: lighter;
                padding: 1.5rem;
                align-self: center;
                font-size: 1.4rem;
                transition: all .2s;
                display: block;
            }


        }
        &__link:hover,
        &__link:active{
            transform: translateY(-3px);
            background-color: rgba($color: #fff, $alpha: .1);
        }
    }

    .copy-right{
        font-size: 1.9rem;
        color: $color-grey-light-1;
        margin-top: 5rem;
        text-align: center;
        @include phone{
            font-size: 1.3rem;
        }
        @include phone-2{
            font-size: 1.3rem;
        }
        @include tablet{
            font-size: 1.3rem;
        }
    }
}