.header{
    grid-column: full-start/col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(image/infinit.jfif);
    padding-left: 9.999rem;
    display: grid;
    row-gap: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 15rem;
    @include phone {
        width: 100vw;
        padding-right: 0px;
        padding-left: 2rem;
        overflow: hidden;
        height: 67vh;
    }
    @include phone-2 {
        width: 100vw;
        padding-right: 0px;
        padding-left: 2rem;
        overflow: hidden;
        height: 60vh;
    }
    @include tablet{
        width: 100vw;
        padding-right: 0px;
        padding-left: 2rem;
        overflow: hidden;
        height: 60vh;
    }

    &__logo{
        font-size: 1.7rem;
        text-align: center;
        color: $color-primary;
        @include phone {
            font-size: 1.2rem;
            text-align: center;
            transform: translateY(-1.7rem) translateX(-2rem);
        }
        @include phone-2 {
            font-size: 1.2rem;
            text-align: center;
            transform: translateY(-1.7rem) translateX(-2rem);
        }
        @include tablet{
            font-size: 1.2rem;
            text-align: center;
            transform: translateY(-1.7rem) translateX(-2rem);
        }

    }
    .heading--3{
        color: $color-primary-dark;
        transform: translateY(1.5rem);
        @include phone {
            transform: translateY(-1.5rem);
        }
        @include phone-2 {
            transform: translateY(-1.5rem);
        }
        @include tablet {
            transform: translateY(-1.5rem);
        }
    }

    .heading--1{
        color: $color-primary;
        transform: translateY(-2rem);
        font-weight: lighter;
        @include phone {
            transform: translateY(-4.7rem);
            font-size: 2.4rem;
        }
        @include phone-2 {
            transform: translateY(-4.7rem);
            font-size: 2.4rem;
        }
        @include tablet{
            transform: translateY(-4.7rem);
            font-size: 2.4rem;
        }
    }

    .btn{
        align-self: center;
        justify-self: start;
        transform: translateY(-4rem);
        @include phone {
            transform: translateY(-6.7rem);
        }
        @include phone-2 {
            transform: translateY(-6.7rem);
        }
        @include tablet {
            transform: translateY(-6.7rem);
        }
    }

    .seenon-text{
        color: $color-grey-light-2;
        font-size: 1.4rem;
        text-align: center;
        transform: translateY(-3rem);
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1rem;
        align-items: center;
        @include phone{
            transform: translateY(-7.5rem);
            padding-right: 2rem;
        }
        @include phone-2{
            transform: translateY(-7.5rem);
            padding-right: 2rem;
        }
        @include tablet{
            transform: translateY(-7.5rem);
            padding-right: 2rem;
        }
        &::after,
        &::before{
            content: "";
            height: 1px;
            background-color: currentColor;
            display: block;
        }
    }

    .images{
        transform: translateY(-4rem);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        grid-gap: 3.2rem;
        @include phone {
            transform: translateY(-9rem) translateX(1.6rem);
        }
        @include phone-2 {
            transform: translateY(-9rem) translateX(1.6rem);
        }
        @include tablet{
            transform: translateY(-9rem) translateX(1.6rem);
        }
        img{
            height: 3.5rem;
            @include phone {
                height: 1.6rem;
                &:not(:first-child) {
                    transform: translateX(-5rem);
                }
            }
            @include phone-2 {
                height: 1.6rem;
                &:not(:first-child) {
                    transform: translateX(-5rem);
                }
            }
            @include tablet {
                height: 1.6rem;
                &:not(:first-child) {
                    transform: translateX(-5rem);
                }
            }
        }
    }
}