.homes{
    grid-column: center-start/center-end;

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    display: grid;
    grid-gap: 6.5rem;
    padding: 4.2rem 7rem;
    @include phone{
        transform: translateY(52rem) translateX(-6.5rem);
        padding: 2.2rem 3.1rem 2.2rem 4rem;
        grid-gap: 3.5rem;
        overflow: hidden;
    }
    @include phone-2{
        transform: translateY(52rem) translateX(-6.5rem);
        padding: 2.2rem 8.4rem 2.2rem 8.4rem;
        grid-gap: 5rem;
        overflow: hidden;
    }
    @include tablet{
        transform: translateY(52rem) translateX(-6.5rem);
        padding: 2.2rem 8.4rem 2.2rem 8.4rem;
        grid-gap: 5rem;
        overflow: hidden;
    }
}

.home{
    background-color: $color-grey-light-1;
    font-size: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
    display: grid;

    p{
        display: inline-block;
        font-size: 1.2rem;
    }

    .location-span{
        color: $color-primary;
    }

    &__image{
        width: 100%;
        grid-column: 1/-1;
        height: 78%;
    }

    &__name{
        grid-column: 1/-1;
        font-size: 1.7rem;
        text-align: center;
        background-color: $color-secondary;
        padding: 1rem;
        color: white;
        justify-self: center;
        width: 80%;
        font-weight: lighter;
        transform: translateY(-150px);
        @include phone{
            font-size: 1.5rem;
            transform: translateY(-63px);
        }
        @include phone-2{
            font-size: 1.5rem;
            transform: translateY(-65px);
        }
        @include tablet{
            font-size: 1.5rem;
            transform: translateY(-65px);
        }
    }

    &__location,
    &__rooms,
    &__area,
    &__price{
        padding: 1rem 0;
        font-size: 1.5rem;
        &:nth-child(odd) {
            padding-left: 1.4rem;
        }
        &:nth-child(even) {
            padding-left: 1.4rem;
        }
        transform: translateY(-50%);
    }

    &__button{
        grid-column: 1/-1;
    }
}