@mixin phone {
    @media screen and (max-width: 390px) {
        @content;
    }
}
@mixin phone-2 {
    @media screen and (min-width: 391px) and (max-width: 500px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 501px) and (max-width: 700px) {
        @content;
    }
}
@mixin mini-laptop {
    @media screen and (min-width: 701px) and (max-width: 890px) {
        @content;
    }
}