.story{
    @include phone{
        position: relative;
        overflow: hidden;
    }
    @include phone-2{
        position: relative;
        overflow: hidden;
    }
    @include tablet{
        position: relative;
        overflow: hidden;
    }

    &__pictures{
        background-color: $color-primary;
        grid-column: full-start/ col-end 4;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        background-image: linear-gradient(rgba($color-primary, .5)), url(image/one.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        @include phone{
            width: 100vw;
            height: 41rem;
            overflow: hidden;
            position: relative;
        }
        @include phone-2{
            width: 100vw;
            height: 52vh;
            overflow: hidden;
            position: relative;
        }
        @include tablet{
            width: 100vw;
            height: 52vh;
            overflow: hidden;
            position: relative;
        }

        .item-1{
            grid-column: 1/-1;
            grid-row: 1/ -1;
            height: 100%;
            @include phone{
                grid-column: 1/ -1;
                grid-row: 1/ -1;
            }
            @include phone-2{
                grid-column: 1/ -1;
                grid-row: 1/ -1;
            }
            @include tablet{
                grid-column: 1/ -1;
                grid-row: 1/ -1;
            }
        }
        .item-2{
            grid-column: 4/ span 3;
            grid-row: 5/ span 2;
            height: 100%;
            transform: translateX(30%) translateY(-2px);
            @include phone {
                grid-row: 1/ 3;
                grid-column: 1 /span 4;
                display: none;
                transform: translateX(0);
            }
            @include phone-2 {
                grid-row: 1/ 3;
                grid-column: 1 /span 4;
                display: none;
                transform: translateX(0);
            }
            @include tablet {
                grid-row: 1/ 3;
                grid-column: 1 /span 4;
                display: none;
                transform: translateX(0);
            }
        }
    }


    &__img--1{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        box-shadow: 0 3rem 10rem rgba($color: #000000, $alpha: .2);
    }
    &__img--2{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        z-index: 299;
        height: 150px;
        box-shadow: 0 3rem 10rem rgba($color: #000000, $alpha: .3);
    }

    &__content{
        background-color: $color-grey-light-1;
        grid-column: col-start 5/full-end;

        padding: 6rem 8vw;
        display: grid;
        align-content: center;
        justify-items: start;
        @include phone {
            width: 100vw;
            position: absolute;
            height: 37vh;
            top: 322vh;
            left: 0px;
            overflow: hidden;
        }
        @include phone-2 {
            width: 100vw;
            position: absolute;
            height: 41vh;
            top: 215rem;
            left: 0px;
            overflow: hidden;
        }
        @include tablet{
            width: 100vw;
            position: absolute;
            height: 41vh;
            top: 190rem;
            left: 0px;
            overflow: hidden;
        }

        .mb-md{

            @include phone{
                font-size: 1.6rem;
            }
            @include phone-2{
                font-size: 1.6rem;
            }
            @include tablet{
                font-size: 1.6rem;
            }
        }
    }

    &__text{
        font-size: 14px;
        font-style: italic;
        margin-bottom: 4rem;
        @include phone{
            font-size: 1.26rem;
            margin-bottom: 3rem;
        }
        @include phone-2{
            font-size: 1.26rem;
            margin-bottom: 3rem;
        }
        @include tablet{
            font-size: 1.26rem;
            margin-bottom: 3rem;
        }
    }
    
}